# Leave these blank, make a copy of this file and add your own credentials
SPOTIFY_CLIENT_ID=from-spotify-dashboard
SPOTIFY_CLIENT_SECRET=from-spotify-dashboard
SPOTIFY_REDIRECT_URI=http://127.0.0.1:3000/api/auth/callback/spotify
NEXTAUTH_URL=http://127.0.0.1:3000
NEXTAUTH_SECRET=your-own-random-secret
DATABASE_URL=ask-rowan
REPLICATE_API_TOKEN=ask-james
SPOTIFY_LINK_REDIRECT_URI=http://127.0.0.1:3000/api/spotify/link/callback
