@import "tailwindcss";

:root {
  --background-dark: #000000;
  --background-light: #ffffff;
  --foreground-dark: #f4f4f5;
  --foreground-light: #000000;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--background-dark);
  color: var(--foreground-dark);
  font-family: Arial, Helvetica, sans-serif;
}

body.light {
  background-color: var(--background-light);
  color: var(--foreground-light);
}
